@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    height: 100%;
}
body{
    height: 100%;
}

#app{
    height: 100%;
}

#app > div {
    height: 100%;
}

*{
    font-family: "Rubik", sans-serif;
}