html .modal {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.638);
  z-index: 10;
}
html .modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 400px;
  height: 250px;
  background-color: #C0E0DE;
  border-radius: 10px;
  padding: 10px;
}
html .modal .modal-content .close {
  background-color: #4F7CAC;
  color: #9EEFE5;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 88%;
  top: 3%;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  transition: 200ms;
}
html .modal .modal-content .close:active {
  width: 30px;
  height: 30px;
}
html .modal-registres {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.638);
  z-index: 10;
}
html .modal-registres .modal-content-registres {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  height: 90%;
  background-color: #C0E0DE;
  border-radius: 10px;
  padding: 10px;
}
html .modal-registres .modal-content-registres .close {
  background-color: #4F7CAC;
  color: #9EEFE5;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 88%;
  top: 3%;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  transition: 200ms;
}
html .modal-registres .modal-content-registres .close:active {
  width: 30px;
  height: 30px;
}
html .button-new-cursa {
  position: absolute;
  top: 10px;
  left: 10px;
}
html .main-screen {
  height: calc(100% - 60px);
}
html .check-table thead tr {
  border-bottom: 1px solid #4F7CAC;
}
html .check-table tbody tr:nth-child(odd) {
  border-radius: 10px;
  background-color: #a8d3d0;
}
html .modal-content-check {
  width: 70% !important;
  height: 50% !important;
}
html .table-inscrits thead tr {
  border-bottom: 1px solid #4F7CAC;
}
html .table-inscrits tbody tr:nth-child(odd) {
  border-radius: 10px;
  background-color: #a8d3d0;
}
html .error {
  color: #cc2020;
}
